@tailwind base;
@tailwind components;
@tailwind utilities;

/*TODO: headlessui fix for modal padding*/
html {
  padding: 0 !important;
}

body {
  background-color: #1c2023;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

:focus {
  outline: transparent none 0;
}

:root {
  --rsbs-backdrop-bg: rgba(0, 0, 0, 0.6);
  --rsbs-bg: #1c2023;
  --rsbs-handle-bg: hsla(0, 0%, 89%, 0.418);
  --rsbs-max-w: auto;
  --rsbs-ml: env(safe-area-inset-left);
  --rsbs-mr: env(safe-area-inset-right);
  --rsbs-overlay-rounded: 16px;
}
