@tailwind base;
@tailwind components;
@tailwind utilities;

/*TODO: headlessui fix for modal padding*/
html {
  padding: 0 !important;
}

body {
  background-color: #1c2023;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

:focus {
  outline: transparent none 0;
}

:root {
  --rsbs-backdrop-bg: rgba(0, 0, 0, 0.6);
  --rsbs-bg: #1c2023;
  --rsbs-handle-bg: hsla(0, 0%, 89%, 0.418);
  --rsbs-max-w: 448px;
  --rsbs-ml: auto;
  --rsbs-mr: auto;
  --rsbs-overlay-rounded: 16px;
}

.Toastify__toast-theme--light {
  background: transparent !important;
  font-family: 'Yekan Bakh', Tahoma, Arial;
}

.Toastify__toast-container {
  width: 100%;
}
.Toastify__toast {
  box-shadow: none;
}
